<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jianqiBlog.mappers.BlogMapper">
    <resultMap id="detailedBlogMap" type="Blog">
        <result property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="description" column="description"/>
        <result property="content" column="content"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
        <association property="user" javaType="User">
            <id property="id" column="user_id"/>
            <result property="username" column="username"/>
            <result property="avatar" column="avatar"/>
        </association>
    </resultMap>

    <select id="selectBlog" resultMap="detailedBlogMap">
        select B.id as id,
        B.title as title,
        B.description as description,
        B.content as content,
        U.id as user_id ,
        U.username as username,
        U.avatar as avatar,
        B.created_at as created_at,
        B.updated_at as updated_at
        from blog B left join user U on B.user_id = U.id
        <if test="user_id != null">
            where U.id = #{user_id}
        </if>
        limit #{offset}, #{limit}
    </select>
    <select id="countBlog" resultType="int">
        select count(*) from blog
        <if test="user_id != null">
            where user_id = #{user_id}
        </if>
    </select>
    <select id="selectBlogByBlogId" resultMap="detailedBlogMap">
        select B.id as id,
        B.title as title,
        B.description as description,
        B.content as content,
        U.id as user_id ,
        U.username as username,
        U.avatar as avatar,
        B.created_at as created_at,
        B.updated_at as updated_at
        from blog B left join user U on B.user_id = U.id
        where B.id = #{blogId}
    </select>
    <insert id="insertBlog" parameterType="Blog" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into blog(user_id, title, description, content, created_at, updated_at)
        values(#{userId}, #{title}, #{description}, #{content}, now(), now())
    </insert>


</mapper>

